* {
  font-family: "Manrope", sans-serif;
}

.worker-sign-in-page {
  visibility: hidden;

  &.safe-to-view {
    visibility: visible;
    opacity: 1 !important;
  }
}

ion-toolbar,
ion-tab-bar {
  --background: white;
}

.header-collapse-condense ion-toolbar {
  --background: transparent;
}

/* ion-content {
  --background: url("/src/assets/images/common/background.png") no-repeat center
    center / cover;
} */

ion-modal {
  --height: auto;
}

ion-title.title-large {
  font-size: 24px;
  font-weight: 800;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0px;
}

.text-ellipsis-2-rows {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

::placeholder {
  color: #657786;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #657786;
  opacity: 1;
}
