@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Manrope */
@font-face {
  font-family: "Manrope";
  font-weight: 200;
  src: url("/assets/fonts/Manrope-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 300;
  src: url("/assets/fonts/Manrope-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: url("/assets/fonts/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: url("/assets/fonts/Manrope-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 600;
  src: url("/assets/fonts/Manrope-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: url("/assets/fonts/Manrope-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 800;
  src: url("/assets/fonts/Manrope-ExtraBold.ttf") format("truetype");
}
